.header {
	padding: 40px 0;
	position: absolute;
	width: 100%;
	top: 0;
	left: 0;
	z-index: 10;
	&__container {
		display: flex;
		align-items: center;
		justify-content: space-between;
		min-height: 36px;
	}

	&__logo {
		width: 36px;
		height: 36px;
	}

	&__body {
		display: flex;
		justify-content: center;
		align-items: center;
	}

	&__search {
		width: 20px;
		height: 20px;
		background: url(../img/header/search.svg) 0 0 no-repeat;
		margin-right: 44px;
	}
	&__shopping-cart {
		width: 20px;
		height: 20px;
		background: url(../img/header/shopping-cart.svg) 0 0 no-repeat;
		margin-right: 5px;
	}

	&__sign-up {
		font-family: $font-family-Nunito;
		display: inline-block;
	}

	&__sign-in {
		font-family: $font-family-Nunito;
		display: inline-block;
		background-color: $green;
		color: rgba(255, 255, 255, 1);
	}
}
.sign-btn {
	min-height: 36px;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	padding: 0 32px;
}
